.form {
  display: flex;
  border: 1px solid white;
  margin: 5%;
  border-radius: 35px;
  padding: 0% 5%;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-bottom: 10% !important;
  background: green;
}

.emoji-mart {
  width: 188px !important;
  height: 250px !important;
  margin-left: 20px;
  padding: 0px;
  font-size: 0.5rem !important;
}

.emoji-mart-scroll {
  height: 200px !important;
}

.emoji-mart-preview {
  display: none;
}

.emoji-mart-bar {
  display: none;
}

.input {
  border: none;
  margin: 3%;
  background: transparent;
  color: white;
  padding: 0%;
  width: 100%;
  font-size: 1.2em;
  overflow: hidden;
  outline: none;
  text-decoration: none;
  resize: none;
  align-content: center;
  letter-spacing: 1px;
  font-weight: 100;
}

.input:focus, textarea:focus, select:focus {
  outline: none;
}

.rta {
  width: 70%;
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}

.rta__autocomplete {
  position: absolute;
  width: 250px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 25px;
}

.rta__autocomplete ul {
  list-style: none;
  text-align: left;
  margin-bottom: 0;
}

.rta__autocomplete li {
  margin-bottom: 5px;
  padding: 3px 20px;
  cursor: pointer;
}

.rta__autocomplete li:hover {
  background-color: skyblue;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  font-weight: bolder;
  text-decoration: none;
  background: transparent;
  border: none;
  border-radius: 10%;
  width: 20%;
}

.rta_textarea {
  text-align: center;
  position: fixed;
  resize: none;
}

.toggle-emoji {
  background: transparent;
  color: white;
  border: none;
  padding: 3px;
  margin-right: 10px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .form {
    margin-bottom: 20% !important;
    margin-top: 12px;
  }
}