.form {
  display: flex;
  border-top: 2px solid #D3D3D3;
}

.input {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 100%;
  font-size: 1.2em;
}

.input:focus, textarea:focus, select:focus {
  outline: none;
}

.rta {
  width: 80%;
  flex-grow: 1;
  position: relative;
  border-left: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.rta__autocomplete {
  position: absolute;
  width: 300px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.rta__autocomplete ul {
  list-style: none;
  text-align: left;
  margin-bottom: 0;
}

.rta__autocomplete li {
  margin-bottom: 5px;
  padding: 3px 20px;
  cursor: pointer;
}

.rta__autocomplete li:hover {
  background-color: skyblue;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979FF;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
}