.messageBox {
  border-radius: 20px;
  padding: 5px 20px;
  color: white;
  display: inline-block;
  max-width: 70%;
  margin: 10px;
}

.messageText {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 1.1em;
  word-wrap: break-word;
}

.messageText img {
  vertical-align: middle;
}

.messageContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0 5%;
  margin-top: 3px;
}

.sentText {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  color: #dae1e7;
  letter-spacing: 0.3px;
  font-size: small;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.colorWhite {
  color: #0AD5C1;
}

.colorDark {
  color: #353535;
}

.backgroundBlue {
  background: rgba(25, 147, 147, 0.2);
}

.backgroundLight {
  background: rgba(255, 255, 255, 0.9);
}