.messageBox {
  /* border-radius: 20px; */
  padding: 0.5rem 1rem;
  color: white;
  display: inline-block;
  max-width: 70%;
  margin: 10px;
  position: relative;
}

.justifyStart .messageBox::after {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: white;
  position: absolute;
  bottom: -1rem;
  right: -13px;
  top: calc(50% - 0.5rem);
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}
.justifyEnd .messageBox::after {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: rgba(25, 147, 147, 0.2);
  position: absolute;
  bottom: -1rem;
  left: -16px;
  top: calc(50% - 0.5rem);
  clip-path: polygon(0 50%, 100% 0%, 100% 100%);
}
.messageText {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 1.1em;
  word-wrap: break-word;
}

.timeStamp {
  font-size: 0.7rem;
  color: gray;
  position: absolute;
  bottom: 3px;
  opacity: 1.2;
  right: 10px;
}
.justifyEnd .timeStamp {
  color: lightgray;
  opacity: 0.7;
}
.messageText img {
  vertical-align: middle;
}

.messageContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0 5%;
  margin-top: 3px;
}

.sentText {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  color: #dae1e7;
  letter-spacing: 0.3px;
  font-size: small;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.colorWhite {
  color: #0ad5c1;
}

.colorDark {
  color: #353535;
}

.backgroundBlue {
  background-color: rgba(25, 147, 147, 0.2);
}

.backgroundLight {
  background: rgba(255, 255, 255, 0.9);
}
