.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: transparent;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: transparent;
  border-radius: 8px;
  height: 70%;
  width: 40%;
  overflow: hidden;
}

.onlinePeople {
  height: calc(67% - 60px);
  position: fixed;
  width: 250px;
  margin-top: 60px;
  z-index: 10;
  background: -moz-linear-gradient(-45deg, #183850 0, #183850 25%, );
  background: -webkit-linear-gradient(-45deg, #183850 0, #183850 35%, #192C46 70%, #22254C 100%, #22254C 100%);
  color: white;
  font-family: Poppins;
  display: flex;
  flex-direction: column;
}

.onlinePeople h2 {
  font-size: medium;
  font-weight: bolder;
  letter-spacing: 3px;
  margin-left: 15%;
}

.typingMsg {
  color: white;
  letter-spacing: 2px;
  font-weight: 100;
  font-family: Poppins;
  font-size: smaller;
  margin-bottom: 0px;
  margin-left: 5%;
}

.inviteBtn {
  padding: 10px;
  letter-spacing: 3px;
  align-self: center;
  margin: 5%;
  background: transparent;
  border: 1px solid #ffffff;
}

.activeItem {
  display: flex;
  align-items: center;
}

.activeItem img {
  padding-left: 10px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .outerContainer {
    height: 100%;
  }
  .container {
    width: 100%;
    height: 100%;
  }
  .onlinePeople {
    height: 97%;
  }
}

@media (min-width: 480px) and (max-width: 1200px) {
  .container {
    width: 60%;
  }
}