.outerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: transparent;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: transparent;
    border-radius: 8px;
    height: 90%;
    width: 45%;
    overflow: hidden;
}

.onlinePeople {
    height: calc(67% - 60px);
    position: fixed;
    width: 250px;
    margin-top: 60px;
    z-index: 10;
    background: -moz-linear-gradient(-45deg, #183850 0, #183850 25%);
    background: -webkit-linear-gradient( -45deg, #183850 0, #183850 35%, #192c46 70%, #22254c 100%, #22254c 100%);
    color: white;
    font-family: Poppins;
    display: flex;
    flex-direction: column;
}

.onlinePeople h2 {
    font-size: medium;
    font-weight: bolder;
    letter-spacing: 3px;
    margin-left: 15%;
}

.typingMsg {
    color: white;
    letter-spacing: 2px;
    font-weight: 100;
    font-family: Poppins;
    font-size: smaller;
    margin-bottom: 0px;
    margin-left: 5%;
}

.inviteBtn {
    padding: 10px;
    letter-spacing: 3px;
    align-self: center;
    transform: scale(1.5);
    margin: 5%;
    position: relative;
    width: 80%;
    border: none;
    color: white;
    padding: 1rem;
    background-color: transparent;
    border: 2px solid white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    transition: 0.5s ease-in;
}

.inviteBtn:hover {
    border: 2px dashed white;
}

.copiedBtn {
    padding: 10px;
    letter-spacing: 3px;
    align-self: center;
    margin: 5%;
    position: relative;
    width: 80%;
    border: none;
    padding: 1rem;
    transition: 0.5s ease-in-out;
    background-image: none;
    background-color: white;
    color: black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.activeItem {
    display: flex;
    align-items: center;
}

.activeItem img {
    padding-left: 10px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .outerContainer {
        height: 100%;
    }
    .container {
        width: 100%;
        height: 100%;
    }
    .onlinePeople {
        height: 97%;
    }
}

@media (min-width: 880px) and (max-width: 1200px) {
    .container {
        width: 60%;
    }
}

@media (min-width: 480px) and (max-width: 880px) {
    .container {
        width: 80%;
    }
}